.admin{
    width: 350px;
    box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background-color: white;
    margin: 0 0 10px 0 ;
}
.adminDiv{
    display: flex;
    flex-direction: column;
    
}
.admindivdown{
    display: flex;
    border-top: 2px solid #000;
    width: 100%;
    justify-content: center;
}
.admindivup{
    margin: 0 15px 0 15px;
    display: flex;
    max-width: 320px;
    width: 100%;
    justify-content: space-between;
}
.pading{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.admindivupleft{
    margin: 5px 0;
}
.admindivupright{
    margin: 5px 0;
}
.admindivdownLeft{
    width: 300px;
    height: 200px;
    margin: 5px 0 5px 0px;
    object-fit: cover;
}
.adminLink{
    text-decoration: none;
    color: black;
}